.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered{
    background: #FFB81C; /*#005EB8 #768692 #425563 #FFB81C NHS Digital identity guidelines */
}
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
    background: #FFB81C;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

li.jstree-open > a .jstree-themeicon 
{
    background:url("images/open-book.png") 0px 0px no-repeat !important;
    background-size: 23px 23px !important;
} 
li.jstree-closed > a .jstree-themeicon 
{
    background:url("images/book-close.png") 0px 0px no-repeat !important;
    background-size: 21px 21px !important;
} 
li.jstree-leaf > a .jstree-themeicon 
{
    background:url("images/book-leaf.png") 0px 0px no-repeat !important;
    background-size: 23px 23px !important;
} 